root = true

[*.{c,cpp,h,hpp,ino,ino.cpp,ino.h,txt,md}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = tab
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true

[*.{json,yml,yaml,xml}]
indent_style = space
indent_size = 2
tab_width = 2

[Makefile]
indent_style = tab
indent_size = 4
tab_width = 4
